.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.avatar {
  width: 145px;
  height: 145px;
  margin-bottom: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userName {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #000;
}

.articles {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    gap: 24px;
  }
  .avatar {
    margin-bottom: 0;
  }
  .profileInfo {
    align-items: flex-start;
  }
}

@media (min-width: 1440px) {
  .userName {
    font-size: 32px;
  }
  .articles {
    font-size: 20px;
  }
}
