.advantagesSection {
padding: 104px 0px 64px;
  background: #fdf4ee;
  text-align: left;
}

.advantagesContainer {
  max-width: 375px;
  margin: 0 auto;
padding-left: var(--container-padding-mobile);
  padding-right: var(--container-padding-mobile);

}

.advantagesTitle {
  color: #1b391b;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 32px;
  line-height: 1.2;
  letter-spacing: -1%;
  font-weight: 700;
}

.advantagesGrid {
  display: grid;
  gap: 24px;
}

.advantagesCard {
  background: #ffe5d9;
  padding: 16px;
  border-radius: 16px;
  transition: all 0.25s ease;
}

.advantagesCardTitle {
  color: #1b391b;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 16px;
  letter-spacing: -1%;
  line-height: 1.4;
}

.advantagesCardText {
  font-size: 16px;
  color: #1b391b;
    font-weight: 400;
     letter-spacing: 0%;
  line-height: 1.5;
}

.advantagesIcon {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
}

.advantagesIconImg {
  display: block;
  width: 64px;
  height: 64px;
}

/* Tablet */
@media (min-width: 768px) {
  
.advantagesContainer {
max-width: 768px;
padding-left: var(--container-padding-tablet);
  padding-right: var(--container-padding-tablet);

}
  .advantagesTitle {
    font-size: 44px;
  }

  .advantagesGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .advantagesCard:nth-child(3) {
    grid-column: span 2;
  }

  .advantagesIcon {
    width: 64px;
    height: 64px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .advantagesSection {
    padding-bottom: 112px;
    padding-top: 152px;
  }
.advantagesContainer {
  max-width: 1440px;
    padding-left: var(--container-padding-desktop);
  padding-right: var(--container-padding-desktop);

}
  .advantagesTitle {
    font-size: 52px;
  }

  .advantagesCardTitle {
    font-size: 26px;
  }

  .advantagesCardText {
    font-size: 18px;
  }

  .advantagesGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .advantagesCard:nth-child(3) {
    grid-column: auto;
  }
}